<% if message.user != current_user %>
  <div class="chat-message-container" id="message-<%= message.id %>">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <% if message.user.admin == false %>
            <%= cl_image_tag message.user.kids.first.photo.key, width: 70, height: 70, crop: :fill, class: 'img-fluid messenger-avatar'  %>
          <% else %>
            <img class="messenger-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"  />
          <% end %>
      </div>
            <div class="col other-user">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.content %>
                </p>

                <div class="text-right">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% else %>

        <div class="chat-message-container" id="message-<%= message.id %>">
          <div class="row no-gutters">
            <div class="col current-user">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.content %>
                </p>

                <div class="text-left">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
            <div class="col-auto text-center">
              <% if message.user.admin == false %>
              <%= cl_image_tag message.user.kids.first.photo.key, width: 70, height: 70, crop: :fill, class: 'img-fluid messenger-avatar'  %>
              <% else %>
              <img class="messenger-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
              <% end %>
            </div>

          </div>
        </div>
        <% end %>

