<div class="container">
<h1>Diary</h1>
  <div class="row">

  <% if current_user.admin? %>
    <% @kids.each do |kid|  %>
      <div class="kid_card col-6 text-center mb-4">
      <%= link_to new_kid_small_event_path(kid) do %>
        <%= cl_image_tag kid.photo.key, width: 70, height: 70, crop: :fill, class:'img-fluid img-thumbnail', class: "avatar-large" %>
        <h2> <%= kid.first_name %> <%= kid.last_name %> </h2>
      </div>
      <% end %>
    <% end %>

  <% else %>
    <% @kids.each do |kid|  %>
      <div class="kid_card col-6 text-center mb-4">
      <%= link_to kid_small_events_path(kid) do %>
        <%= cl_image_tag kid.photo.key, width: 70, height: 70, crop: :fill, class:'img-fluid img-thumbnail', class: "avatar-large" %>
        <h2> <%= kid.first_name %> <%= kid.last_name %> </h2>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
