<div class="container">
<h1>
      <% if current_user.admin == false %>
        <%= "Child: #{current_user.kids.first.first_name} #{current_user.kids.first.last_name}"%>
      <% else %>
        <%= "Child: #{@chatroom.users.where("admin ='false'").first.kids.first.first_name} #{@chatroom.users.where("admin ='false'").first.kids.first.last_name}" %>
      <% end %>
      <hr class="mt-2 mb-3">
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatrooms' %>
  </div>

  <div class="col">
    <div class="chat" id="chat-container">
      <% @messages.each do |message| %>

      <% if message.user != current_user %>

        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <% if message.user.admin == false %>
              <%= cl_image_tag message.user.kids.first.photo.key, width: 70, height: 70, crop: :fill, class: 'img-fluid messenger-avatar'  %>
              <% else %>
              <%= image_tag "Logo1.png", class: "messenger-avatar" %>
              <% end %>
            </div>

            <div class="col other-user">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.content %>
                </p>

                <div class="text-right">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% else %>

        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col current-user">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.content %>
                </p>

                <div class="text-left">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
            <div class="col-auto text-center">
              <% if message.user.admin == false %>
              <%= cl_image_tag message.user.kids.first.photo.key, width: 70, height: 70, crop: :fill, class: 'img-fluid messenger-avatar'  %>
              <% else %>
              <%= image_tag "Logo1.png", class: "messenger-avatar" %>
              <% end %>
            </div>

          </div>
        </div>

        <% end %>
      <% end %>
    </div>

    <%= simple_form_for [ @chatroom, @message ], remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input', id: "chat-submit-button" %>
        </div>
      </div>

      <%= form.input :chatroom_id, as: :hidden %>
    <% end %>
  </div>
</div>
</div>
