<div class="container">
<h1>
      <% if current_user.admin == false %>
        <%= "Child: #{current_user.kids.first.first_name} #{current_user.kids.first.last_name}"%>
      <% else %>
        <%= "Child: #{@chatroom.users.where("admin ='false'").first.kids.first.first_name} #{@chatroom.users.where("admin ='false'").first.kids.first.last_name}" %>
      <% end %>
      <hr class="mt-2 mb-3">
</h1>

<div class="row" id="chatbox">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatrooms' %>
  </div>

  <div class="col">
    <div class="chat" id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @messages.each do |message| %>

         <%= render 'messages/message', message: message %>

      <% end %>
    </div>

    <%= simple_form_for [ @chatroom, @message ], remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   autocomplete: 'off',
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input', id: "chat-submit-button" %>
        </div>
      </div>
      <%= form.input :chatroom_id, as: :hidden %>
    <% end %>
  </div>
</div>
</div>
<script type="text/javascript">var objDiv = document.getElementById("messages");
objDiv.scrollTop = objDiv.scrollHeight;</script>
