
<% if user_signed_in? && current_user.admin == false %>
<div class="container">
  <div class="row">

    <div class="col-6">
      <div class="card-trip justify-content-between" id="card-calendar">
        <div class="centered"><i class="fas fa-calendar fa-lg"></i><h4><strong>Calendar</strong></h4></div>
          <div class="card-trip-content">
            <div class="calendar-box"><p style="font-size: 30px"></p><%= Date.today.day %><%= Date.today.strftime("%b") %></div>
            <div class="calendar-box-description"> <p><strong>title</strong></p> <p>description</p> </div>
        </div>
      </div>
    </div>
    

    <div class="col-6">
      <div class="card-trip" id="image">
        <div class="centered"><i class="fas fa-image fa-lg"></i><h4><strong>Photos </strong> </h4> </div>
          <img src="https://cdn.pixabay.com/photo/2016/04/14/08/40/newborn-1328454_1280.jpg"/>
        </div>
      </div>
    </div>
  
  </div>

    <div class="col-12">
      <div class="card-trip d-flex flex-column justify-content-between" id="card-messages" >
        <div class="centered"><i class="fas fa-comment-dots fa-lg"></i><h4><strong>Last messages</strong></h4></div>
          <% current_user.messages.order("created_at").last(2).each do |message| %>
            <div class="notifications"> <p><%= message.content %></p> </div>
          <% end %>
      </div>
    </div>

</div>

<% elsif user_signed_in? && current_user.admin?%>

<div class="container ">
  <div class="row">
    <div class="col-12">
      <div class="card-trip d-flex flex-column justify-content-between" id="card-messages" >
          <div class="centered"><h4><strong>Messages</strong></h4></div>
          <div class="notifications"> <p>Is my kid ok?</p> </div>
          <div class="notifications"> <p>Did he sleep well?</p> </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card-trip justify-content-between" id="card-calendar">
          <div class="centered"><h4><strong>Calendar</strong></h4></div>
          <div class="card-trip-content">
           <div class="calendar-box"><p style="font-size: 30px"></p><%= Date.today.day %><p><%= Date.today.strftime("%b") %></p></div>
           <div class="calendar-box-description"> <p><strong>title</strong></p> <p>description</p> </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% else %>
<div class="container">
  <div class="row">

    <div class="col-12">
    <%= link_to new_user_session_path do %>
      <div class="card-trip" >
      <div class="centered"> <h4><strong>Login</strong> </h4> </div>
        <img src="https://cdn.pixabay.com/photo/2016/02/19/10/14/boy-1209131_1280.jpg" />
      </div>
    </div>
    <% end %>
</div>
</div>

<% end %>